---
import OrderHistoryCard from "./OrderHistoryCard.astro";

interface Props {
  orders: {
    orderNumber: string;
    products: {
      id: string;
      status: string;
      dateModified: string;
    }[];
    address: string;
    email: string;
    date: string;
    payment: {
      cardNumber: string;
      expiringDate: string;
    };
    phoneNumber: string;
  }[];
  products: {
    id: string;
    thumb_src: string;
    thumb_alt: string;
    title: string;
    price: number;
    description: string;
  }[];
}
const { orders, products }: Props = Astro.props;
let orderHistoryCards: any[] = [];

orders.forEach((order) => {
  let orderProducts: any[] = [];

  order.products.forEach((productDetails) => {
    products.forEach((product) => {
      if (product.id == productDetails.id) {
        orderProducts.push(product);
      }
    });
  });
  orderHistoryCards.push(
    <OrderHistoryCard order={order} products={orderProducts} />
  );
});
---

<>
  <div>
    <h3 class="mb-0">Order history</h3>
    <p class="mb-5">See your recent orders, download your invoices.</p>

    {orderHistoryCards}
  </div>
</>
