<div class="row mt-5">
  <div class="col-12 col-lg-6 mb-4 mb-lg-0">
    <h6 class="w-100 pb-3 border-bottom">Store</h6>
    <div class="d-flex pt-2">
      <ul class="nav flex-column ms-n3">
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Tops
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Designers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Tops
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Collection
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Texture
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Sale
          </a>
        </li>
      </ul>
      <ul class="nav flex-column ms-6 ms-md-11 ms-lg-10">
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Prints
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Silk Edition
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Brands
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Demos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Showroom
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-4 mb-lg-0">
    <h6 class="w-100 pb-3 border-bottom">Categories</h6>
    <div class="d-flex pt-2">
      <ul class="nav flex-column ms-n3">
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Tops
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Designers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Tops
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Collection
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Texture
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Sale
          </a>
        </li>
      </ul>
      <ul class="nav flex-column ms-6 ms-md-11 ms-lg-10">
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Prints
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Silk Edition
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Brands
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Demos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body text-sm" href="#" target="_blank">
            Showroom
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>;
