---
interface Props {
  shopMenu: any[];
  quickMenu: any[];
}
const { shopMenu, quickMenu }: Props = Astro.props;
---

<div class="row">
  <div class="col-12 col-lg-6 mb-4 mb-lg-0">
    <h6 class="w-100 pb-3 border-bottom ps-3">Shop</h6>
    <div class="pt-2">
      <ul class="nav ft-nav">
        {
          shopMenu.map((item: any) => (
            <li class="nav-item">
              <a
                class="nav-link text-body text-sm"
                href={item?.uri ?? "#"}
                target="_blank"
              >
                {item?.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-4 mb-lg-0">
    <h6 class="w-100 pb-3 border-bottom ps-3">Quick links</h6>
    <div class="pt-2">
      <ul class="nav ft-nav">
        {
          quickMenu.map((item: any) => (
            <li class="nav-item">
              <a
                class="nav-link text-body text-sm"
                href={item?.uri ?? "#"}
                target="_blank"
              >
                {item?.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
