---
interface Props {
  images: any[];
}
import { MEDIA_HOST } from "@configs/constant.conf";
import { Image } from "astro:assets";

const { images }: Props = Astro.props;
const images2 = images.filter((_, index) => index !== 0);
---

<>
  {
    images.map((image, index) => {
      if (index === 0) {
        return (
          <div class="d-block d-md-flex">
            <Image
              class="w-100 max-height-200 rounded-3 mb-4 mb-md-0"
              src={MEDIA_HOST + image.filePath}
              alt={image.altText}
              width={300}
              height={300}
              loading="lazy"
            />
          </div>
        );
      }
    })
  }

  <div class="row mt-4">
    {
      images2.map((image, index) => (
        <div class="col-6">
          <Image
            class="w-100 max-height-200 rounded-3"
            src={MEDIA_HOST + image.filePath}
            alt={image.altText}
            width={300}
            height={300}
            loading="lazy"
          />
        </div>
      ))
    }
  </div>
</>
