---
import ProductFeatureImg from "./ProductFeatureImg.astro";
import ProductFeatureDetails from "./ProductFeatureDetails.astro";

interface Props {
  title: string;
  images: {
    src: string;
    alt: string;
  }[];
  full_description: string;
  content: string;
  featuresDetails?: Map<string, string> | {};
}
const { title, images, full_description, featuresDetails, content }: Props =
  Astro.props;
---

<div class="card card-product card-plain">
  <div class="row">
    <div class="col-12 col-lg-7 mx-auto text-center">
      {title.length != 0 && <h2 class="mb-3">{title}</h2>}
      {full_description.length != 0 && <p class="">{full_description}</p>}
    </div>
  </div>
  <div class="row mt-4 mt-md-5">
    <div class="col-12 col-lg-6 pe-lg-5">
      <Fragment set:html={content} />
    </div>
    <div class="col-12 col-lg-6">
      <ProductFeatureImg images={images} />
    </div>
  </div>
</div>
