---
import { Image } from "astro:assets";
import { MEDIA_HOST } from "@configs/constant.conf";

interface Props {
  primaryImage?: any;
  images: any[];
}
const { images, primaryImage }: Props = Astro.props;
---

<div class="col-12 col-lg-6">
  <Image
    class="w-100 rounded-2"
    src={primaryImage?.filePath ? MEDIA_HOST + primaryImage.filePath : ""}
    alt={primaryImage?.alt ?? ""}
    id="primaryImage"
    width={572}
    height={572}
    loading="lazy"
  />
  <div class="d-flex mt-4">
    {
      images.map((image: any, index: number) => {
        if (index < 4) {
          return (
            <img
              class="w-20 me-4 rounded-2 ratio ratio-1x1 object-fit-cover"
              style="aspect-ratio: 1 / 1;"
              src={image?.filePath ? MEDIA_HOST + image.filePath : ""}
              alt={image?.alt || ""}
            />
          );
        }
        if (index === 4) {
          return (
            <img
              class="w-20 rounded-2 ratio ratio-1x1 object-fit-cover"
              style="aspect-ratio: 1 / 1;"
              src={image?.filePath ? MEDIA_HOST + image.filePath : ""}
              alt={image?.alt || ""}
            />
          );
        }
      })
    }
  </div>
</div>
