---
import { MEDIA_HOST } from "@configs/constant.conf";
import ReviewRating from "./ReviewRating.astro";
import { Image } from "astro:assets";

interface Props {
  review: any;
}
const { review }: Props = Astro.props;
---

<>
  <div class="d-block my-4 my-md-5">
    <ReviewRating rating={review.star} />
    <p class="text-sm mt-3 mt-md-4">{review.content}</p>
    <div class="d-flex align-items-center">
      <a
        href="#"
        class="avatar avatar-lg rounded-circle min-width-50 min-height-50"
      >
        <Image
          alt="Image placeholder"
          src={MEDIA_HOST + review.avatar.node.filePath}
          width={50}
          height={50}
          class="rounded-circle shadow-sm object-cover"
          loading="lazy"
        />
      </a>
      <div class="ms-3">
        <h6 class="mb-0">{review.name}</h6>
        <p class="text-sm mb-2">{review.date}</p>
      </div>
    </div>
  </div>
  <hr class="dark horizontal" />
</>
