---
import IncentiveLarge from "@components/incentives/IncentiveLarge.astro";
import ProductFeature2 from "@components/products/ProductFeature2.astro";
import PromoSectionLarge from "@components/promo/PromoSectionLarge.astro";
import ReviewSummaryChart from "@components/reviews/ReviewSummaryChart.astro";
import { MEDIA_HOST } from "@configs/constant.conf";

interface Props {
  page: any;
  data: any;
}
const { page, data }: Props = Astro.props;
const { aboutSs1, aboutSs2f, aboutSs3, aboutSs4 } = data;

const locale = Astro.currentLocale || "en";
---

<main>
  <section class="section1 py-md-5 mt-5">
    <div class="container">
      <ProductFeature2
        title={page?.title || "About Us"}
        full_description={page?.content || ""}
        data={aboutSs1?.infomation || []}
      />
      <div class="my-7 my-md-10">
        <IncentiveLarge data={aboutSs2f} />
      </div>
      <div class="my-7 my-md-10">
        <ReviewSummaryChart data={aboutSs3} />
      </div>
      <div class="my-7 my-md-10">
        <PromoSectionLarge
          title={aboutSs4?.title || ""}
          full_description={aboutSs4.description || ""}
          pageHeaderBgImg={aboutSs4?.background?.node?.filePath
            ? MEDIA_HOST + aboutSs4?.background?.node?.filePath
            : ""}
          buttonText={locale === "en"
            ? "Explore Our Products"
            : "Những sản phẩm khác"}
          pageHeaderMinVh="50vh"
          pageHeaderRadius="1rem"
        />
      </div>
    </div>
  </section>
</main>
