---
interface Props {
  title?: string;
}
---

<>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" checked />
    <label class="custom-control-label">Same as shipping information</label>
  </div>
</>
