<div class="form-group">
  <label>Card Number</label>
  <input
    type="text"
    class="form-control"
    placeholder="Enter your card number"
  />
</div>
<div class="row">
  <div class="col-8">
    <div class="form-group">
      <label>Expiration date (MM/YY)</label>
      <input type="text" class="form-control" placeholder="Enter the date" />
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <label>CVC</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter the 3 digits"
      />
    </div>
  </div>
</div>
