---
interface Props {
  title?: string;
}
---

<>
  <div class="form-group">
    <label>Address</label>
    <input type="text" class="form-control" placeholder="Street, no" />
  </div>
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" placeholder="Enter city" />
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label>State</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter your country"
        />
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label>Postal Code</label>
        <input
          type="text"
          class="form-control"
          placeholder="Your postal code"
        />
      </div>
    </div>
  </div>
</>
