---
// export const prerender = true;
import Layout from "@layouts/Layout.astro";
import CardCategory from "@components/products/CardCategory.astro";
import ProductFeature from "@components/products/ProductFeature.astro";
import PromoSectionLarge from "@components/promo/PromoSectionLarge.astro";
import { MEDIA_HOST } from "@configs/constant.conf";
import { wpQuery } from "@apis/graphqlClient";
import { GET_HOME_OPTIONS_QUERY } from "@apis/queries";
import { Debug } from "astro:components";
import { API_SECRET_TOKEN } from "astro:env/server";

const { homePageSettings } = await wpQuery({
  query: GET_HOME_OPTIONS_QUERY,
  token: API_SECRET_TOKEN,
});
const { homeSs1, homeSs2, homeSs3, homeSs4 } = homePageSettings?.home;
---

<!-- <Debug data={test} /> -->
<Layout title="Home - Daiphattrade.com">
  <main>
    <PromoSectionLarge
      title={homeSs1?.title || ""}
      full_description={homeSs1?.description || ""}
      pageHeaderBgImg={homeSs1?.image?.node?.filePath
        ? MEDIA_HOST + homeSs1?.image?.node?.filePath
        : "../images/bg2.jpg"}
      pageHeaderMinVh="90vh"
      buttonUrl={homeSs1?.url || ""}
      buttonText={"Explore Our Products"}
    />
    <div class="categories pt-8" id="categories">
      <div class="container">
        <div class="d-block text-center mb-5">
          <h3>{homeSs2?.title}</h3>
          <a class="text-dark font-weight-bold" href={homeSs2?.url || "#"}
            >Browse all categories &#62;</a
          >
        </div>
        <div class="row mb-5">
          {
            homeSs2?.selectCategories?.nodes.map((category: any) => {
              return (
                <div class="col-md-6 col-lg-3">
                  <CardCategory
                    thumb_src={
                      category?.image?.filePath
                        ? MEDIA_HOST + category?.image?.filePath
                        : ""
                    }
                    collection=""
                    title={category?.name}
                    url={`/category/${category?.slug}`}
                  />
                </div>
              );
            })
          }
        </div>
        <PromoSectionLarge
          title={homeSs3?.title || ""}
          full_description={homeSs3?.description || ""}
          pageHeaderBgImg={homeSs3?.image?.node?.filePath
            ? MEDIA_HOST + homeSs3?.image?.node?.filePath
            : ""}
          buttonUrl={homeSs3?.url || "#"}
          pageHeaderMinVh="50vh"
          pageHeaderRadius="1rem"
        />
        <div class="mt-8 mb-5">
          <ProductFeature
            title={homeSs4?.title || ""}
            images={homeSs4?.gallery?.nodes || []}
            full_description={homeSs4?.description || ""}
            content={homeSs4?.content || ""}
          />
        </div>
        <div
          class="page-header mt-5 mb-10 rounded-top"
          style="background-image: url('https://images.unsplash.com/photo-1519642918688-7e43b19245d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2676&q=80');min-height: 50vh;"
        >
          <div class="faded opacity-10"></div>
          <div class="z-index-2">
            <div class="row justify-content-center">
              <div class="col-sm-9 text-center mx-auto pt-6">
                <h1 class="mb-4">Register for newsletter</h1>
                <p class="lead mb-sm-5 px-md-8">
                  Stay in the loop with our newsletter featuring the latest
                  updates, exclusive content, and special offers delivered
                  straight to your inbox.
                </p>
                <button
                  class="btn btn-dark btn-lg d-flex align-items-center mx-auto"
                >
                  Register
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
