---
import Layout from "@layouts/Layout.astro";
import CardCategory from "@components/products/CardCategory.astro";
import ProductFeature from "@components/products/ProductFeature.astro";
import PromoSectionLarge from "@components/promo/PromoSectionLarge.astro";
import { MEDIA_HOST } from "@configs/constant.conf";
import { wpQuery } from "@apis/graphqlClient";
import {
  GET_GENERAL_OPTIONS_QUERY,
  GET_HOME_OPTIONS_QUERY,
} from "@apis/queries";
import { API_SECRET_TOKEN } from "astro:env/server";

// Get locale
const locale = Astro.currentLocale || "en";

// Fetch home settings
const { homeSettings } = await wpQuery({
  query: GET_HOME_OPTIONS_QUERY,
  variables: { language: locale.toUpperCase() },
  token: API_SECRET_TOKEN,
});
const { homeSs1, homeSs2, homeSs3, homeSs4 } = homeSettings?.home;

const { themeDptGeneralSettings } = await wpQuery({
  query: GET_GENERAL_OPTIONS_QUERY,
  variables: { language: locale.toUpperCase() },
});
const generalSettings = themeDptGeneralSettings?.themeGeneralSettings || {};
---

<Layout title="Home - Daiphattrade.com">
  <main>
    <PromoSectionLarge
      title={homeSs1?.title || ""}
      full_description={homeSs1?.description || ""}
      pageHeaderBgImg={homeSs1?.image?.node?.filePath
        ? MEDIA_HOST + homeSs1?.image?.node?.filePath
        : "../images/bg2.jpg"}
      pageHeaderMinVh="90vh"
      buttonUrl={homeSs1?.url || ""}
      buttonText={locale === "en"
        ? "Explore Our Products"
        : "Khám Phá Sản Phẩm Của Chúng Tôi"}
    />
    <div class="categories pt-6 pt-lg-8" id="categories">
      <div class="container">
        <div class="d-block text-center mb-4 mb-lg-5">
          <h3>{homeSs2?.title}</h3>
          <a class="text-dark font-weight-bold" href={homeSs2?.url || "#"}
            >{
              locale ? "Browse all categories &#62;" : "Tất cả danh mục &#62;"
            }</a
          >
        </div>
        <div class="row mb-5">
          {
            homeSs2?.selectCategories?.nodes.map((category: any) => {
              return (
                <div class="col-6 col-md-6 col-lg-3 mb-4">
                  <CardCategory
                    thumb_src={
                      category?.image?.filePath
                        ? MEDIA_HOST + category?.image?.filePath
                        : ""
                    }
                    collection=""
                    title={category?.name}
                    url={category?.uri}
                    classList="h-100"
                  />
                </div>
              );
            })
          }
        </div>
        <div class="product-suggestions">
          <PromoSectionLarge
            title={homeSs3?.title || ""}
            full_description={homeSs3?.description || ""}
            pageHeaderBgImg={homeSs3?.image?.node?.filePath
              ? MEDIA_HOST + homeSs3?.image?.node?.filePath
              : ""}
            buttonUrl={homeSs3?.url || "#"}
            buttonText={locale === "en"
              ? "Explore Our Products"
              : "Những sản phẩm khác"}
            pageHeaderMinVh="50vh"
            pageHeaderRadius="1rem"
          />
        </div>
        <div class="mt-6 mt-md-8 mb-5">
          <ProductFeature
            title={homeSs4?.title || ""}
            images={homeSs4?.gallery?.nodes || []}
            full_description={homeSs4?.description || ""}
            content={homeSs4?.content || ""}
          />
        </div>
        <div
          class="page-header mt-5 mb-8 mb-lg-10 rounded-top"
          style={generalSettings?.formRegister?.background
            ? `background-image: url(${MEDIA_HOST + generalSettings.formRegister.background?.node.filePath}); min-height: 50vh;`
            : ""}
        >
          <div class="faded opacity-10"></div>
          <div class="z-index-2 p-4 p-md-0">
            <div class="row justify-content-center">
              <div class="col-sm-9 text-center mx-auto pt-6">
                <h1 class="mb-4">
                  {
                    generalSettings?.formRegister?.title ||
                      "Register for newsletter"
                  }
                </h1>
                <p class="lead mb-sm-5 px-md-8">
                  {
                    generalSettings?.formRegister?.description ||
                      "Subscribe to our newsletter to get the latest updates and offers."
                  }
                </p>
                <button
                  class="btn btn-dark btn-lg d-flex align-items-center mx-auto"
                >
                  {generalSettings?.formRegister?.buttonLabel || "Register Now"}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
