---
import Layout from "@layouts/Layout.astro";
import CardCategory from "@components/products/CardCategory.astro";
import ProductFeature from "@components/products/ProductFeature.astro";
import PromoSectionLarge from "@components/promo/PromoSectionLarge.astro";
import { MEDIA_HOST } from "@configs/constant.conf";
import { wpQuery } from "@apis/graphqlClient";
import { GET_HOME_OPTIONS_QUERY } from "@apis/queries";
import { Debug } from "astro:components";
import { API_HOST, API_ENDPOINT } from "@configs/api.conf";
import { API_SECRET_TOKEN } from "astro:env/server";

// const { homePageSettings } = await wpQuery({
//   query: GET_HOME_OPTIONS_QUERY,
//   token: "ZHB0YWRtaW46MHNONiBhTHN1IFloZlEgZzdjTCBVUWdoIHU3bVE=",
// });
// const { homeSs1, homeSs2, homeSs3, homeSs4 } = homePageSettings?.home;
---

<Debug
  data={{ key: API_SECRET_TOKEN, host: API_HOST, endpoint: API_ENDPOINT }}
/>
<Layout title="Home - Daiphattrade.com">
  <main>
    <h1>test</h1>
  </main>
  <script>
    const abc = `
query getHomeOptionsQuery {
  homePageSettings {
    home {
      homeSs1 {
        description
        title
        url
        image {
          node {
            filePath
            slug
            title
            altText
            caption
          }
        }
      }
      homeSs2 {
        url
        title
        selectCategories {
          nodes {
            slug
            name
            uri
            ... on ProductCategory {
              image {
                filePath
                altText
                slug
                title
              }
            }
          }
        }
      }
      homeSs3 {
        description
        url
        title
        image {
          node {
            altText
            filePath
            title
            slug
          }
        }
      }
      homeSs4 {
        content
        description
        title
        gallery {
          nodes {
            altText
            filePath
            title
            slug
          }
        }
      }
    }
  }
}
`;
    const res = await fetch("https://apache.tnhs.xyz/graphql", {
      headers: {
        "Content-Type": "application/json; charset=utf-8",
        Accept: "application/json",
        "Access-Control-Allow-Origin": "*",
        // Authorization: `Basic ${token}`,
      },
      method: "POST",
      body: JSON.stringify({
        abc,
      }),
    });
    if (!res.ok) {
      console.error(res);
      return {};
    }
  </script>
</Layout>
