---
import Layout from "@layouts/Layout.astro";
// import { postApi } from "@apis/postApi";

// const posts = await postApi.getAllPosts(10, "2");
---

<Layout title="Posts">
  <main>
    <h1>Posts</h1>
    <!-- <ul> -->
    <!--   {posts.posts.nodes.map((post) => <li>{post.title}</li>)} -->
    <!-- </ul> -->
  </main>
</Layout>
