---
import data from "../../public/data.json";
import StoreDoubleColumn from "./store/StoreDoubleColumn.astro";
---

<footer>
  <div class="row">
    <div class="col-12 col-md-4">
      <h5 class="mt-5">Astro Ecommerce</h5>
      <p class="text-body text-sm pe-5">
        The time is now for it to be okay to be great. People in this world shun
        people for being great. For being a bright color. For standing out.
      </p>
    </div>
    <div class="col-12 col-md-8">
      <StoreDoubleColumn title={data.products[1].title} />
    </div>
    <div class="col-12 mt-5 mb-lg-0 mb-4">
      <div class="copyright text-center text-sm text-body">
        Copyright ©
        {new Date().getFullYear()}
        &nbsp;Astro Ecommerce by &nbsp;
        <a href="https://www.creative-tim.com" class="text-dark" target="_blank"
          >Creative Tim</a
        >.
      </div>
    </div>
  </div>
</footer>
