<nav
  class="navbar navbar-expand-lg blur border-radius-sm top-0 z-index-3 shadow position-sticky py-3 start-0 end-0"
>
  <div class="container px-1">
    <a class="navbar-brand font-weight-bolder ms-lg-0" href="/"
      >Astro Ecommerce</a
    >
    <button
      class="navbar-toggler shadow-none ms-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navigation"
      aria-controls="navigation"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link text-dark font-weight-bold d-flex align-items-center me-2"
            aria-current="page"
            href="/"
          >
            About us
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link text-dark dropdown-toggle font-weight-bold d-flex align-items-center me-2"
            aria-current="page"
            id="pagesExample"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Shop now <i class="bi bi-chevron-down ms-1"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="pagesExample">
            <li>
              <a class="dropdown-item" href="/products">All Products</a>
            </li>
            <li>
              <a class="dropdown-item" href="/categories/silk-dresses"
                >Silk Dresses</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/categories/suits">Suits</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-dark font-weight-bold d-flex align-items-center me-2"
            aria-current="page"
            href="/posts/"
            data-astro-prefetch
          >
            Posts
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
