---
interface Props {
  data: any;
}

const { data }: Props = Astro.props;
---

<>
  <div>
    <h2>{data?.title || ""}</h2>
    <p class="pe-md-12 me-lg-12">
      {data?.description || ""}
    </p>
    <div class="row mt-5">
      {
        data?.list.map((item: any, index: number) => {
          return (
            <div class="col-12 col-md-4">
              <div class="card shadow-xs border p-3 p-md-4 mb-4">
                <div class="icon icon-shape bg-dark text-white text-center border-radius-sm d-flex align-items-center justify-content-center mb-3">
                  <Fragment set:html={item.svg} />
                </div>
                <h5>{item.title}</h5>
                <p class="opacity-8">{item.content}</p>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</>
